<html>

<head>
    <title>Home</title>
    <link href="style.css" rel="stylesheet">
</head>

<body>
    
    <h1 class="test">Traning more and more always</h1>
     <p> Time is  <%- time %>  </p>
</body>

</html>